*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    margin-top: -1vmin;
    font-size: 6vmin;
    color: white;
    font-weight: bold;
}

.header {
    font-size: 3vmin;
    margin-bottom: 4vmin;
}

hr {
    width: 40vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 15vmin);
    grid-template-rows: repeat(4, 15vmin);
    background-color: #cdc1b5;
    border: 6px solid #bbada0;
    gap: 2vmin;
    border-radius: 1vmin;
    padding: 2vmin;
    position: relative;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: 1vmin;
    font-size: 6vmin;
    background-color: #bbada0;
    font-weight: bold;
}

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16 {
    background-color: #f59575;
    color: white;
}

.x32 {
    background-color: #f57c5f;
    color: white;
}

.x64 {
    background-color: #f65d3b;
    color: white;
}

.x128 {
    background-color: #edce71;
    color: white;
}

.x256 {
    background-color: #edcc63;
    color: white;
}

.x512 {
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}